.footer-section-wrapper {
    background-color: #183059;
    color: #dcaa2c;
    font-family: 'KingMidasFont', sans-serif;
    text-align: center;
    z-index: 9999;
    position: sticky;
    top: 0;
    border: 2px solid #dcaa2c;
    margin: -10px;
    padding: 20px 0;
}

.footer-section-wrapper a {
    color: white;
    text-decoration: none; /* Remove underline from links */
}

.kts-link a {
    font-family: "KingMidasFont";
    color: red;
    text-decoration: none;
}

.footer-credits, p {
    font-family: "KingMidasFont";
}

