/* Load the custom font */
@font-face {
  font-family: 'KingMidasFont';
  src: url('../fonts/Grand-Baron-Distressed.ttf') format('truetype');
}

/* Header styling */
.header-wrapper {
  background-color: #183059;
  color: #dcaa2c;
  font-family: 'KingMidasFont', sans-serif;
  text-align: center;
  z-index: 9999;
  position: sticky;
  top: 0;
  border: 2px solid #dcaa2c;
  margin: -10px;
  padding: 20px 0;
}

/* Header title */
.brand-title h1 {
  font-family: 'KingMidasFont', sans-serif;
  font-size: 3rem;
  margin: 0;
}

/* Navigation links */
.navigation a {
  color: #dcaa2c;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}
