.home-section {
    text-align: center;
    padding: 20px;
    padding: 20px;
    color: white; /* White text for contrast */
    width: 100%; /* Full width of the viewport */
}

.home-section img {
    max-width: 30%;
    height: auto;
    margin: 10px 0;
}

.grid-container {
    display: grid; /* Enable CSS Grid layout */
    grid-template-columns: repeat(2, 1fr); /* Create 2 columns, each taking 1 fraction of available space */
    grid-template-rows: repeat(2, 1fr); /* Create 2 rows, each taking 1 fraction of available space */
}

.grid-item {
    display: grid;
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.grid-item img {
    border: 2px solid #dcaa2c; /* Optional: Add a border for visualization */
    box-shadow: 1px 1px 5px;
}