#scrollTopBtn {
  position: fixed;     /* Fixes the button relative to the viewport */
  bottom: 20px;        /* 20px from the bottom */
  left: 20px;          /* 20px from the left */
  display: none;       /* Initially hidden, shown by JS */
  z-index: 1000;       /* Ensure it appears above other elements */
  /* You can add other styles here, like background, padding, border-radius */
}


#scrollTopBtn:hover {
  background-color: #dcaa2c;
  color: #183059;
}
